<div *ngIf="shelter" class="wrap">
    <h2 class="title">
        {{shelter.fields.shelterName}}
    </h2>
    <div class="text-box">
        <img width="20%" style="margin: 10px" class="float-left rounded" src="{{ shelter.fields.img.fields.file.url}}">
        <br>
        <div>
            {{shelter.fields.shelterDescription}}
        </div>
        <div>
            {{shelter.fields.longDescription}}
        </div>
    </div>
    <button mat-button (click)="goToList()" class="buttonn">Back To List</button>
</div>
<div class="comments">

    <app-comment></app-comment>

</div>