.galeriq {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 70px;
    padding: 50px;
    align-content: center !important;
    background-color: #00A985;
    height: auto;
    align-self: center !important;
}

.hh1 {
    font-size: 30px;
    text-align: center;
    align-self: center;
}

.gh1 {
    font-size: 25pt;
    text-align: center;
    align-self: center;
    color: white;
}

.footer h3 {
    font-size: 17pt;
    cursor: pointer;
    color: #e6e6e6;
}

.footer button {
    width: 100px;
    font-family: Baloo Bhai;
    padding: 3px;
    color: white;
    background-color: #F89657;
    font-size: 11pt;
    margin-left: auto!important;
}

.imgz img {
    background-size: cover;
    width: 300px;
    height: 300px;
}

.mat-grid-tile-footer {
    margin-left: 60px;
    width: 300px;
}